<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes, viewport-fit=cover">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />  
    <link rel="stylesheet" href="/css/style.css">
    <title>台北一日遊</title>
</head>
<body>
    <div class="WRAPPER">
        <div id="gotop" class="">TOP</div>

        <div class="topbar">
            <div class="container">
                <h2 class="logo"><a href="/">台北一日遊</a></h2>
                <nav class="navbar">
                <ul class="navbar-list">
                    <li><a href="/">預定行程</a></li>
                    <li><a href="/">登入/註冊</a></li>
                </ul>
                </nav> 
            </div>   
        </div>

        <header class="Area header">
            <div class="container">
                <div class="header-title">輕鬆享受台北一日悠閒</div>
                <div class="header-describe">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search-form">
                    <input id="txtSearchInput" type="text" placeholder="輸入景點名稱查詢"/>
                    <button id="txtSearchBtn" title="搜尋" type="submit"></button>
                </div>
                <div id="catList" class=""><ul></ul></div>
            </div>
        </header>
        <main>
            <div id="loading"></div>
            <div class="Area Area-1200 attraction">
                    <ul class="attration-wrp" id="attractionList">
                        <!-- <li class="card">
                            <a class="card-link" href="/">
                                <div class="card-img"><img src="images/img.jpg" alt=""></div>
                                <div class="card-title">平安鐘</div>
                            </a>
                            <div class="card-detail">
                                <div class="card-mrt">忠孝復興</div>
                                <div class="card-cat">公共藝術</div>
                            </div>
                        </li> -->
                    </ul>
            </div>
        </main>

        <footer class="footer">
            <div class="copyright">COPYRIGHT © 2022 台北一日遊</div>
        </footer>
    </div>
<!-- <script src="/js/fetch.js" defer></script> -->
<script src="/js/index.js" defer></script>
</body>
</html>