<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes, viewport-fit=cover">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />  
    <link rel="stylesheet" href="../css/thanks.css">
    <title>感謝訂購-台北一日遊</title>
</head>
<body>
    <div id="loginNout" class="popup">
        <div class="box popup-box">
            <div class="popup-close"><a href="javascript:void(0);"></a></div>
            <div id="signupForm" class="form">
                <h3>註冊會員帳號</h3>
                <hr>
                <input type="text" id="signupName" name="signupName" placeholder="輸入姓名"/>
                <input type="email" id="signupEmail" name="signupEmail"  placeholder="輸入電子郵件"/>
                <input type="password" id="signupPassword" name="signupPassword" placeholder="輸入密碼"/>
                <div class="alert" id="signupAlert"></div>
                <button type="submit" onclick="signupSubmit()">註冊新帳戶</button>
                <div>已經有帳戶了嗎？<a id="clickLogin" class="login-link" href="javascript:void(0);">點此登入</a></div>
            </div>
            <div id="loginForm" class="form">
                <h3>登入會員帳號</h3>
                <hr>
                <input type="email" id="loginEmail" name="loginEmail"  placeholder="輸入電子郵件"/>
                <input type="password" id="loginPassword" name="loginPassword" placeholder="輸入密碼"/>
                <div class="alert" id="loginAlert"></div>
                <button type="submit" onclick="loginSubmit()">登入帳戶</button>
                <div>還沒有帳戶嗎？<a id="clickSignup" class="login-link" href="javascript:void(0);">點此註冊</a></div>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <div id="notice" class="popup">
        <div class="box popup-box">
            <div class="popup-close"><a href="javascript:void(0);"></a></div>
            <div class="notice" id="noticeMsg"></div>
        </div>
    </div>
    <div class="WRAPPER">
        <div id="gotop" class="white">TOP</div>
        <div class="topbar">
            <div class="container">
                <h2 class="logo"><a href="/">台北一日遊</a></h2>
                <nav class="navbar">
                <ul class="navbar-list">
                    <li><a id="clickBooking" href="javascript: void(0);">預定行程</a></li>
                    <li>
                        <a class="popup-btn" data-popup="loginNout" id="loginSignupLink" href="javascript: void(0);">登入/註冊</a>
                        <a id="logoutLink" href="javascript: void(0);">登出</a>
                    </li>
                </ul>
                </nav> 
            </div>   
        </div>

        <main>
            <div class="Area Area-1200 thankyou">
                <div class="box">
                    <div class="title">
                        Thank you!
                    </div>
                    <div class="order-txt">您的訂單編號：{{order_number}}</div>
                    <div class="thank-img"><img src="images/smile.png" alt="感謝購買"></div>  
                    <div class="btn-back"><a href="/"> 回首頁 </a></div>
                </div>
            </div>

        </main>
        <div class="footer">
            <div class="copyright">COPYRIGHT © 2022 台北一日遊</div>
        </div>
    </div>
    <script src="/js/login.js"></script>
    
</body>
</html>